* {
    margin: 0px;
}

.mainbody {
    background-color: black;
}

#color {
    height: 900px;
    position: relative;
    display: inline-block;
    z-index: 1;
}

.red {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/80/218/439/charizard-pokemon-dragon-wings-wallpaper-preview.jpg");
    width: 33%;
}

.blue {
    background-image: url("https://i.pinimg.com/474x/37/22/4f/37224fc13815370089867639e043f6b0.jpg");
    width: 33%;
}

.yellow {
    background-image: url("https://cdn.wallpapersafari.com/61/76/75ZhXV.jpg");
    width: 33.3%;
    
}

.footer {
    background-color: black;
    height: 50px;
    width: 100%;
}

.name {
    background-color: black;
    color: white;
}

.logotext {
    font-size: 300px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    z-index: 2;
    left: 100px;
    top: 200px;
}

.navbar {
    background-color: black;
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 100%;
    z-index: 3;
    margin: 0px;
}

.navtext {
    color: white;
    display: inline-block;
    margin: 15px 31.5px 15px 31.5px;
 
}

a:link {
    text-decoration: none;
    color: white;
  }
 
  a:visited {
    text-decoration: none;
    color: white;
  }
 
  a:hover {
    text-decoration: underline;
  }
 
  a:active {
    text-decoration: underline;
  }

  .navbar2 {
    background-color: black;
    margin: 0px;
    position: fixed;
    padding: 0px;
    width: 100%;
    z-index: 3;
    margin: 0px;
}
